<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <img class="img-fluid" [src]="'assets/img/banner.jpg'" alt="index">
    </div>
  </div>

  <div class="row mt-5">
    <div class="card col-md-6 ">
      <div class="card-header">
        <img class="img-fluid float-left" [src]="'assets/img/react.png'" alt="react" width="10%" height="10%"><h3>Column 1</h3>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
    <div class="card col-md-6 ">
      <div class="card-header">
        <img class="img-fluid float-left" [src]="'assets/img/ancla.jpg'" alt="ancla" width="10%" height="10%"><h3>Column 2</h3>
      </div>
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>
  </div>
</div>